body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

@keyframes gradient-back {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

body {
    background: linear-gradient(-32deg, #4a3961, #000808, #2f429c);
    background: linear-gradient(135deg, rgb(24, 19, 104) 0%, rgb(194 71 135 / 100%) 39%, rgb(#2f429c / 100%) 100%);
    background-size: 400% 400%;
    animation: gradient-back 15s ease infinite;
}

header {
    padding: 10px 30px;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
footer .copyright {
    font-size: 14px;
    color: #30c5ff;
    text-align: center;
}
footer .copyright a {
    color: #30c5ff;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer__items {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.footer__items a {
    transition: all 0.5s ease 0s;
    text-decoration: none;
}

.footer__svg:hover {
    transform: scale(1.1);
}

.footer__item {
    width: 100px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10%;
    transition: all 0.5s ease 0s;
}

.footer__link {
    transition: all 0.5s ease 0s;
    color: white;
}

.footer__link:hover {
    transition: all 0.5s ease 0s;
    color: #3fcc59;
    text-decoration: underline;
}

svg {
    width: 100px;
    height: 100px;
}
