.welcome-body {
  background-image: url("../assets/image/back7.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  & .header__title {
    font-size: 3.5rem;
    font-weight: 800;
    font-style: italic;
    letter-spacing: 0.2rem;
    background: -webkit-linear-gradient(#ff0000, #000000);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 1px 1px 2px #000000;
    @media (max-width: 992px) {
      font-size: clamp(1rem, -0.19rem + 5.95vw, 3.5rem);
    }
  }

  & .article-welcome__text {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    line-height: 1.5;
    letter-spacing: 0.2rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-image: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0.2) 0%,
      rgba(255, 255, 255, 0.4) 100%
    );
    box-shadow: 1px 1px 2px #5c504a55;
    border-radius: 50px;
    @include margin-bottom40;
    p {
      width: 70%;
      @include margin-bottom20;
    }
  }

  & .article-welcome__greeting {
    display: flex;
    justify-content: center;
    span {
      font-size: 3.5rem;
      font-weight: 800;
      font-style: italic;
      letter-spacing: 0.2rem;
      background: -webkit-linear-gradient(#ff0000, #000000);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      -webkit-text-stroke: 1px #000000;
      text-shadow: 1px 1px 2px #000000;
      @media (max-width: 992px) {
        font-size: clamp(1rem, -0.19rem + 5.95vw, 3.5rem);
      }
    }
  }

  & .zoom-in {
    animation: zoomInAnimation 1s ease-out forwards;
  }
}

@keyframes zoomInAnimation {
  0% {
    transform: scale(0.1);
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
