.page {
  padding: 20px;

  // .page__container

  &__container {
    display: flex;
    padding-top: 40px;
    padding-bottom: 40px;
    border-radius: 10px;
    outline: #fff double 5px;
    box-shadow:
      0 3px 10px 4px rgb(227 216 216 / 40%),
      0 4px 15px 6px rgb(0 0 0 / 50%),
      0 5px 20px 10px rgb(120 114 114 / 60%);

    @media (width <= 1200px) {
      flex-direction: column-reverse;
      gap: 40px;
    }
  }
}

.game {
  // .game__handling

  &__handling {
    flex: 1 1 45%;
    padding: 20px;
    transition:
      background-color 0.3s,
      color 0.3s;

    @media (width <= 1200px) {
      flex-basis: 100%;
    }

    @media (width <= 499px) {
      padding: 0;
    }
  }

  // .game__body

  &__body {
    flex: 1 1 55%;
    padding: 20px;

    @media (width <= 1200px) {
      flex-basis: 100%;
    }

    @media (width <= 499px) {
      padding: 0;
    }
  }
}
