.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 3rem;
}

.main-shadow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 10px;
  background-color: #ffffff;
  outline: #fff double 5px;
  box-shadow:
    0 3px 10px 4px rgb(227 216 216 / 40%),
    0 4px 15px 6px rgb(0 0 0 / 50%),
    0 5px 20px 10px rgb(120 114 114 / 60%);
  padding: 2vw;
  width: 80vw;
  // max-width: 28rem;
  transition: width 0.5s ease;
}

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  @include margin-bottom20;
  box-shadow:
    0 0 15px rgba(110, 105, 255, 0.5),
    0 0 15px rgba(255, 105, 180, 0.5) inset;
  border-radius: 8px;
}
.main-user {
}

.user-text {
}

.user-title {
}

.main-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.main-body {
  display: flex;
  gap: 20px;
  @include margin-bottom20;
  box-shadow:
    0 0 15px rgba(110, 105, 255, 0.5),
    0 0 15px rgba(255, 105, 180, 0.5) inset;
  border-radius: 8px;
}

.main-left {
  flex-basis: 30%;
  border: 2px dashed rgba(0, 0, 0, 0.4);
}

.main-right {
  flex-basis: 70%;
  border: 2px dashed rgba(0, 0, 0, 0.4);
}

.main-footer {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  box-shadow:
    0 0 15px rgba(110, 105, 255, 0.5),
    0 0 15px rgba(255, 105, 180, 0.5) inset;
  border-radius: 8px;
}

.button {
  width: 100px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  background-color: #a7cbd9;
  color: #ffffff;
  cursor: pointer;
  font-weight: 800;
  font: $font-weight $font-size $font-family;
  transition: background-color 0.3s ease;
  @media (any-hover: hover) {
    &:hover {
      background-color: #96b8c2;
      color: black;
    }
  }
}
