@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url("./assets/Roboto-Regular-IPqKTCBe.woff2") format("woff2"),
    url("./assets/Roboto-Regular-nww2GukN.woff") format("woff");
}
@font-face {
  font-family: Roboto;
  font-weight: 600;
  font-style: normal;
  font-display: swap;
  src:
    url("./assets/Roboto-Black-BAyTuXfE.woff2") format("woff2"),
    url("./assets/Roboto-Black-QtVYjjVO.woff") format("woff");
}
* {
  margin: 0;
  padding: 0;
  border: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
a {
  color: inherit;
}
a:link,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
img {
  vertical-align: top;
}
body,
html {
  height: 100%;
}
input,
button,
textarea {
  font-family: "Roboto", sans-serif;
  font-size: inherit;
}
button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}
body {
  font:
    400 20px "Roboto",
    sans-serif;
  color: black;
  background: linear-gradient(135deg, rgb(2, 0, 36) 0%, rgb(194, 71, 135) 39%, rgb(0, 212, 255) 100%);
  background-size: 400% 400%;
  animation: gradient-back 15s ease infinite;
}
@keyframes gradient-back {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
html {
  scroll-behavior: smooth;
}
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  flex: 1 1 auto;
}
[class*="__container"] {
  max-width: 1360px;
  margin: 0 auto;
  padding: 0 20px;
}
.modal {
  position: fixed;
  z-index: 50;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.8);
  transition: transform 0.8s ease 0s;
}
.modal__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100%;
  padding: 20px 25px;
  transition: transform 0.8s ease 0s;
}
.modal__content {
  transform: perspective(600px) translate(0, -100%) rotateX(45deg);
  width: 100%;
  max-width: 550px;
  padding: 20px 25px;
  font-size: 24px;
  font-weight: 900;
  text-align: center;
  opacity: 0;
  background-color: #fff;
  border-radius: 10px;
  transition: transform 0.8s ease 0s;
}
.modal__text:not(:last-child) {
  margin-bottom: 40px;
}
.modal__word:not(:last-child) {
  margin-bottom: 40px;
}
.modal__button {
  cursor: pointer;
  user-select: none;
  padding: 10px 20px;
  font-size: 24px;
  font-weight: 900;
  color: white;
  background: linear-gradient(135deg, rgb(2, 0, 36) 0%, rgb(194, 71, 135) 39%, rgb(0, 212, 255) 100%);
  border: none;
  border-radius: 5px;
  transition:
    background-color 0.3s,
    transform 0.2s;
}
.modal__button:hover {
  background-color: #45a049;
}
.modal__button:active {
  transform: scale(0.98);
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 50px;
  text-align: center;
}
@media (width <= 980px) {
  .header__container {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.header__title {
  font-size: 36px;
  line-height: 150%;
}
.page__container {
  display: flex;
  gap: 20px;
}
@media (width <= 980px) {
  .page__container {
    flex-direction: column-reverse;
  }
}
.game__gallows {
  width: 100%;
  max-width: 403px;
  height: 454px;
}
@media (width <= 980px) {
  .game__gallows {
    height: 350px;
  }
}
.game__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 857px;
  height: 454px;
  padding: 20px;
}
@media (width <= 980px) {
  .game__body {
    flex: 1 1 auto;
    max-width: none;
    height: 354px;
    padding: 0;
  }
}
@media (width <= 680px) {
  .game__body {
    height: 454px;
  }
}
.game__words {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.game__words:not(:last-child) {
  margin-bottom: 40px;
}
@media (width <= 485px) {
  .game__words:not(:last-child) {
    margin-bottom: 20px;
  }
}
.game__word {
  display: flex;
  gap: 30px;
}
.game__word:not(:last-child) {
  margin-bottom: 40px;
}
.game__hint:not(:last-child) {
  margin-bottom: 40px;
}
@media (width <= 485px) {
  .game__hint {
    font-size: 18px;
  }
  .game__hint:not(:last-child) {
    margin-bottom: 20px;
  }
}
.game__keyboards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  width: 100%;
}
.gallow {
  position: relative;
}
.gallow__post {
  position: absolute;
  bottom: 8px;
  left: 90px;
  width: 10px;
  height: 445px;
  background-color: black;
}
@media (width <= 980px) {
  .gallow__post {
    height: 305px;
  }
}
@media (width <= 440px) {
  .gallow__post {
    left: 50px;
  }
}
.gallow__beam {
  position: absolute;
  top: 0;
  left: 90px;
  width: 230px;
  height: 10px;
  background-color: black;
}
@media (width <= 980px) {
  .gallow__beam {
    top: 35px;
  }
}
@media (width <= 440px) {
  .gallow__beam {
    left: 50px;
  }
}
.gallow__support {
  position: absolute;
  top: 48px;
  left: 90px;
  transform-origin: 0 0;
  transform: rotate(-45deg);
  width: 64px;
  height: 10px;
  background-color: black;
}
@media (width <= 980px) {
  .gallow__support {
    top: 80px;
  }
}
@media (width <= 440px) {
  .gallow__support {
    left: 50px;
  }
}
.gallow__noose {
  position: absolute;
  top: 10px;
  left: 281px;
  width: 10px;
  height: 50px;
  background-color: black;
}
@media (width <= 980px) {
  .gallow__noose {
    top: 35px;
  }
}
@media (width <= 440px) {
  .gallow__noose {
    left: 241px;
  }
}
.gallow__bottom {
  position: absolute;
  bottom: 0;
  left: 30px;
  width: 75%;
  height: 8px;
  background-color: black;
}
.gallow__head {
  position: absolute;
  top: 62px;
  left: 236px;
}
@media (width <= 980px) {
  .gallow__head {
    top: 85px;
    left: 250px;
  }
  .gallow__head svg {
    width: 71px;
    height: 76px;
  }
}
@media (width <= 440px) {
  .gallow__head {
    left: 210px;
  }
}
.gallow__body {
  position: absolute;
  top: 168px;
  left: 282px;
}
@media (width <= 980px) {
  .gallow__body {
    top: 162px;
  }
  .gallow__body svg {
    height: 106px;
  }
}
@media (width <= 440px) {
  .gallow__body {
    left: 242px;
  }
}
.gallow__left-arm {
  position: absolute;
  top: 178px;
  left: 211px;
}
@media (width <= 980px) {
  .gallow__left-arm {
    top: 170px;
    left: 231px;
  }
  .gallow__left-arm svg {
    width: 48px;
  }
}
@media (width <= 440px) {
  .gallow__left-arm {
    left: 191px;
  }
}
.gallow__right-arm {
  position: absolute;
  top: 178px;
  left: 292px;
}
@media (width <= 980px) {
  .gallow__right-arm {
    top: 170px;
  }
  .gallow__right-arm svg {
    width: 48px;
  }
}
@media (width <= 440px) {
  .gallow__right-arm {
    left: 252px;
  }
}
.gallow__left-leg {
  position: absolute;
  bottom: 108px;
  left: 211px;
}
@media (width <= 980px) {
  .gallow__left-leg {
    bottom: 20px;
    left: 231px;
  }
  .gallow__left-leg svg {
    width: 48px;
  }
}
@media (width <= 440px) {
  .gallow__left-leg {
    left: 191px;
  }
}
.gallow__right-leg {
  position: absolute;
  bottom: 108px;
  left: 292px;
}
@media (width <= 980px) {
  .gallow__right-leg {
    bottom: 20px;
  }
  .gallow__right-leg svg {
    width: 48px;
  }
}
@media (width <= 440px) {
  .gallow__right-leg {
    left: 252px;
  }
}
.letter {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: auto;
}
.underline {
  flex-grow: 1;
  flex-shrink: 0;
  width: 100%;
  height: 2px;
  visibility: visible;
  background-color: black;
}
.letter-content {
  text-transform: uppercase;
  visibility: hidden;
}
.button__key {
  cursor: pointer;
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  padding: 10px 20px;
  font-weight: 900;
  color: #333;
  text-align: center;
  text-transform: uppercase;
  background: linear-gradient(145deg, #e6e6e6, #fff);
  border: 2px solid transparent;
  border-radius: 4px;
  transition:
    background-color 0.3s,
    transform 0.1s,
    box-shadow 0.2s;
}
.button__key:hover {
  background: linear-gradient(145deg, #fff, #e6e6e6);
  box-shadow:
    inset 6px 6px 16px #b8b8b8,
    inset -6px -6px 16px #fff;
}
.button__key:active {
  transform: translateY(4px);
  box-shadow:
    inset 6px 6px 10px #b8b8b8,
    inset -6px -6px 10px #fff;
}
.button__key:disabled {
  cursor: not-allowed;
  color: #ccc;
  background: #f0f0f0;
  box-shadow: none;
}
.button__key:disabled:hover,
.button__key:disabled:active {
  transform: none;
  box-shadow: none;
}
@media (width <= 1205px) {
  .button__key {
    width: 35px;
    height: 35px;
  }
}
@media (width <= 485px) {
  .button__key {
    width: 30px;
    height: 30px;
  }
}
.footer__container {
  display: flex;
  gap: 200px;
  align-items: center;
  justify-content: center;
  padding-top: 50px;
  padding-bottom: 20px;
  text-align: center;
}
@media (width <= 485px) {
  .footer__container {
    gap: 100px;
  }
}
.footer__link {
  position: relative;
}
.footer__link::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  transform: scaleX(0);
  width: 100%;
  height: 2px;
  background-color: black;
  transition: transform 0.5s ease;
}
@media (any-hover: hover) {
  .footer__link:hover::before {
    transform: scaleX(1);
  }
}
