$fontFamily: "Roboto", sans-serif;
$fontSize: 16px;
$fontWeight: 400;
$fontLineHeight: 150%;

$colorTextDark: #403f3d;
$colorBackgroundBody: #e1d4c9;

$mainBackgroundColor: $colorBackgroundBody;
