body {
  font: $font-weight $font-size $font-family;
  color: $color-text-dark;
  //background-color: $main-background-color;
  //background: linear-gradient(135deg, #9efcff, #9e9eff);
  background: linear-gradient(
    135deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(194, 71, 135, 1) 39%,
    rgba(0, 212, 255, 1) 100%
  );
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
  @keyframes gradientBG {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > main {
    flex: 1 1 auto;
  }
}

[class*="__container"] {
  max-width: 1360px; // контейнер 1360 стал 1440 изза padding 40px
  margin: 0 auto;
  padding: 0 40px;
}
