body {
  @keyframes gradient-back {
    0% {
      background-position: 0% 50%;
    }

    50% {
      background-position: 100% 50%;
    }

    100% {
      background-position: 0% 50%;
    }
  }

  font: $font-weight $font-size $font-family;
  color: $color-text-dark;

  // background-color: $main-background-color;

  // background: linear-gradient(135deg, #9efcff, #9e9eff);

  background: linear-gradient(
    135deg,
    rgb(2 0 36 / 100%) 0%,
    rgb(194 71 135 / 100%) 39%,
    rgb(0 212 255 / 100%) 100%
  );
  background-size: 400% 400%;
  animation: gradient-back 15s ease infinite;
}

html {
  scroll-behavior: smooth;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;

  > main {
    flex: 1 1 auto;
  }
}

[class*="__container"] {
  max-width: 1360px; // контейнер 1360 стал 1440 изза padding 40px
  margin: 0 auto;
  padding: 0 40px;
}
