.page {
  // .page__container

  &__container {
    display: flex;
    gap: 20px;
  }
}

.game {
  // .game__gallows

  &__gallows {
    flex: 0 1 42%;
  }

  // .game__body

  &__body {
    display: flex;
    flex: 0 1 58%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }

  // .game__words

  &__words {
    @include margin-bottom40;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  // .game__word

  &__word {
    @include margin-bottom40;

    display: flex;
    gap: 30px;
  }

  // .game__hint

  &__hint {
    @include margin-bottom40;
  }

  // .game__incorrect

  &__incorrect {
  }

  // .game__keyboards

  &__keyboards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: 100%;
    max-width: 600px;
  }
}

.gallow {
  position: relative;
  height: 469px;

  // .gallow__post

  &__post {
    position: absolute;
    bottom: 8px;
    left: 0;
    width: 10px;
    height: 98%;
    background-color: black;
  }

  // .gallow__beam

  &__beam {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 10px;
    background-color: black;
  }

  // .gallow__support

  &__support {
    position: absolute;
    top: 16%;
    left: 0;
    transform-origin: 0 0;
    transform: rotate(-45deg);
    width: 20%;
    height: 10px;
    background-color: black;
  }

  // .gallow__noose

  &__noose {
    position: absolute;
    top: 10px;
    left: calc(50px + 38.5%);
    width: 10px;
    height: 50px;
    background-color: black;
  }

  // .gallow__bottom

  &__bottom {
    position: absolute;
    bottom: 0;
    left: -80px;
    width: 75%;
    height: 8px;
    background-color: black;
  }

  // .gallow__head

  &__head {
    position: absolute;
    top: 62px;
    left: 208px;
  }

  // .gallow__body

  &__body {
    position: absolute;
    top: 168px;
    left: 258px;
  }

  // .gallow__left-arm

  &__left-arm {
    position: absolute;
    top: 178px;
    left: 188px;
  }

  // .gallow__right-arm

  &__right-arm {
    position: absolute;
    top: 178px;
    left: 266px;
  }

  // .gallow__left-leg

  &__left-leg {
    position: absolute;
    bottom: 108px;
    left: 188px;
  }

  // .gallow__right-leg

  &__right-leg {
    position: absolute;
    bottom: 108px;
    left: 266px;
  }
}

.letter {
  width: 20px;
  height: 2px;
  background-color: black;
  text-transform: uppercase;
}

.hint {
}

.hint-text {
}

.incorrect-text {
}

.prev {
}

.next {
}

.button {
  // .button__key

  &__key {
    cursor: pointer;
    user-select: none;
    padding: 10px 20px;
    font-weight: 900;
    color: #333;
    text-transform: uppercase;
    background: linear-gradient(145deg, #e6e6e6, #fff);
    border: 2px solid transparent;
    border-radius: 4px;
    transition:
      background-color 0.3s,
      transform 0.1s,
      box-shadow 0.2s;

    svg {
      user-select: none;
      font-weight: 900;
      stroke: black;
    }

    &:hover {
      background: linear-gradient(145deg, #fff, #e6e6e6);
      box-shadow:
        inset 6px 6px 16px #b8b8b8,
        inset -6px -6px 16px #fff;
    }

    &:active {
      transform: translateY(4px);
      box-shadow:
        inset 6px 6px 10px #b8b8b8,
        inset -6px -6px 10px #fff;
    }
  }
}
